<body class="jumbotron">

  <div class="container-top">
    <h1 class="display-4">Welcome!</h1>

    <h3>Thanks for visiting my online resume</h3>
    <hr class="my-4">
  </div>

  <div class="container-bottom">
    <p class="lead">I am a software developer proficient in Javascript, Angular,
      HTML, CSS and Web design. Want to know what else I can do?
    </p>

    <div class="buttonHolder">
      <a class="btn btn-primary btn-lg" routerLink="/skills" role="button">Learn more</a>
    </div>
  </div>

</body>
