:host /deep/ body {
  max-width: 900px;
  min-width: 370px;
  margin: 0 auto;
}

:host /deep/ h1 {
  margin-bottom: 60px;
  text-align: center;
}

:host >>> .list {
  list-style: none;
  margin-bottom: 8px;
}

:host >>> #bulletIcons {
  height: 30.1px;
}

:host >>> p {
  text-align: justify;
}
